spring:
    h2:
        console:
            enabled: true

    datasource:
        url: jdbc:h2:mem:devdb;MODE=MySQL;IGNORECASE=TRUE;DB_CLOSE_ON_EXIT=FALSE;DB_CLOSE_DELAY=-1
        driverClassName: org.h2.Driver
        username: sa
        password:

